@import '../../style/default.less';
.header{
    background-color: @colorM;
    .header-top{
        height: 60px;
        line-height: 60px;
        text-align: right;
        padding: 0 20px;
        border-bottom: 1px solid @primary-color;
        .logo{
            line-height: 60px;
            background-color: transparent;
            font-size: 18px;
            span{
                margin-left: 10px;
            }
        }
        .greeting{
            display: inline-block;
            margin-right: 30px;
        }
    }
    .breadcrumb{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        .breadcrumb-title{
            text-align: center;
            position: relative;
            font-size: @fontC;
            &:after{
                content:'';
                display: block;
                border:12px solid @colorM;
                border-top-width: 9px;
                border-bottom: none;
                border-left-color:transparent;
                border-right-color: transparent;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom:-9px;
            }
        }
        .weather{
            text-align: right;
            .weather-detail{
                margin-left:40px;
                img{
                    display: inline-block;
                    height:16px; 
                    vertical-align: middle;
                    margin-right: 10px;
                    transform: translateY(-2px);
                }
            }
        }
    }
}

.simple-page{
    .header-top{
        background-color: #1890ff;
        color: @colorM;
    }
    .ant-form,
    .ant-col-12,
    .weather{
        display: none;
    }
}