.header{
    .header-top{
        height: 60px;
        line-height: 60px;
        text-align: right;
        padding: 0 20px;
        border-bottom: 1px solid @primary-color;
        .greeting{
            display: inline-block;
            margin-right: 30px;
        }
    }
    .breadcrumb{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        .breadcrumb-title{
            text-align: center;
        }
        .weather{
            text-align: right;
            .weather-detail{
                margin-left:40px;
            }
        }
    }
}